.App {
  text-align: center;
  margin-top: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gameUpdated {
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(27, 133, 101);
  color: white;
  height: 40px;
  line-height: 40px;
  transform: translateY(-42px);
  transition: transform 0.25s linear;
}
#gameUpdated.show {
  transform: translateY(0);
}